<% @page_title = 'Albums' %>

<h2>Listing Albums</h2>

<ul id="albums">
	<%= render :partial => "album_thumb", :collection => @albums %>
</ul>

<br />

<%- if logged_in? -%>
	<%= link_to 'New album', new_album_path %>
<%- end -%>