<div class="post">
	<div class="post-header">
		<div class="post-title"><%= title_link ? link_to(post.title, post) : post.title %></div>
		<div class="post-header-right">
			<div style="height: 5px"></div>
			<div class="date">
				<%= post.created_at.to_s(:concise)%>
				<% if render_comments_count %>
					<img src="/assets/comment-balloon.png" alt="Comments: " />
					<%= post.comments.count %>
				<% end %>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<p>
		<%= trim ? truncate_html(post.body, 300, " "+link_to("read more", post, :class => "curly")) : post.body %>
	</p>
</div>