<% @page_title = 'Posts' %>

<%= link_to "RSS feed", posts_url(:format => :rss) %>

<div class="left">
	<%# Rails 2.0 magic %>
	<%= render :partial => @posts, :locals => {:render_comments_count => true} %>
</div>

<%- if logged_in? -%>
	<%= link_to 'New post', new_post_path %>
<%- end -%>
